.b-topcontainer{
    
    &__title{
        width: 90%;
        @include flex(column,center,center);
    }
    &__img{
        width: 100%;
        object-fit: cover;
        @include flex(column,center,center);
    }
    &__img img{
        width: 80%;
    }
}
@media (min-width:768px) {
    .b-main__topcontainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        
    }
    .b-topcontainer__title{
        margin-bottom: 40px;
        width: 65%;
        margin-top: 40px;
    }
    .b-topcontainer__img{
        width: 35%;
        object-fit: cover;
        
    }
    .b-topcontainer__img img{
        width: 80%;
    }
    .b-topcontainer__title h1 {
        text-align: left;
        margin-left: 20px;
    }
    .b-topcontainer__title p{
        text-align: left;
        margin-left: 20px;
    }
    .b-topcontainer__title h1 a{
        text-align: left;
        margin-left: 20px;
    }
    }

